---
import type { Props } from '@astrojs/starlight/props'

import { Badge } from '@astrojs/starlight/components'
// import { Icon } from '@astrojs/starlight/components'
import Default from '@astrojs/starlight/components/PageTitle.astro'

// import Version from '../Version.astro'

const { data } = Astro.props.entry;
---

{
  data.type === 'character'
  ? (
    <div class="flex items-center gap-6">
      {data.avatar && <img class="w-20 rounded-xs" id="character-avatar" src={data.avatar} />}
      <div class="wrapper pb-4">
        <Default {...Astro.props}>
          <slot />
        </Default>
        <div class="integration-metadata">
          <Badge
            text={`v${data.chara_version}`}
            variant={data.chara_version?.startsWith('0.0') ? 'caution' : data.chara_version?.startsWith('0') ? 'tip' : 'success'}
          />
        </div>
      </div>
    </div>
  )
  : (
    <Default {...Astro.props}>
      <slot />
    </Default>
  )
}

