@import url('styles/hero.css');
@import url('styles/nolebase.css');
@import url('@radix-ui/colors/lime.css');
@import url('@radix-ui/colors/lime-dark.css');
@import url('@radix-ui/colors/red.css');
@import url('@radix-ui/colors/red-dark.css');
@import url('@radix-ui/colors/yellow.css');
@import url('@radix-ui/colors/yellow-dark.css');

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
  --vp-c-brand-1: var(--lime-11);
  --vp-c-brand-2: var(--lime-8);
  --vp-c-brand-3: var(--lime-7);
  --vp-c-brand-soft: color(from var(--lime-9) display-p3 r g b / 0.14);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--yellow-11);
  --vp-c-warning-2: var(--yellow-10);
  --vp-c-warning-3: var(--yellow-8);
  --vp-c-warning-soft: color(from var(--yellow-9) display-p3 r g b / 0.14);

  --vp-c-danger-1: var(--red-11);
  --vp-c-danger-2: var(--red-10);
  --vp-c-danger-3: var(--red-8);
  --vp-c-danger-soft: color(from var(--red-9) display-p3 r g b / 0.14);
}