---
import type { Card } from '@moeru-ai/ccc'

interface Props {
  json: Card
}

const { json } = Astro.props
---

<div class="chat chat-start">
  <div class="chat-bubble">{json.greetings![0]}</div>
</div>
