---
import type { Card } from '@moeru-ai/ccc'

import { Markdown } from '@astropub/md'

interface Props {
  json: Card
}

const { json } = Astro.props
---

<div class="chat chat-start">
  <div class="chat-bubble"><Markdown.Inline of={json.greetings![0]} /></div>
</div>
